{% include "header.html" %}

<div class="min-h-screen bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 p-4 flex justify-center items-center">
    <div class="w-full max-w-lg bg-white dark:bg-zinc-800 rounded-lg shadow p-6">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-bold">Add Patient Data</h2>
            <a href="{{ url_for('Index') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Back</a>
        </div>
        <form action="{{ url_for('insert') }}" method="POST">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-zinc-600 dark:text-zinc-400">Name:</label>
                <input type="text" id="name" name="name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-zinc-600 dark:text-zinc-400">Email:</label>
                <input type="text" id="email" name="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            </div>
            <div class="mb-6">
                <label for="phone" class="block text-sm font-medium text-zinc-600 dark:text-zinc-400">Phone:</label>
                <input type="text" id="phone" name="phone" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded cursor-pointer">Insert Data</button>
            </div>
        </form>
    </div>
</div>
